/*
* STYLE.CSS 
*   
*/
* {
    font-family: var(--cera-normal);
    margin: 0;
    padding: 0;
}


a{
    text-decoration: none!important;
}
/*CABEÇALHO*/
header {
    min-height: 354px;
    background-color: var(--branco, #ffff);
}

.imagem-header {
    height: 354px;
    background-image: url('../img/banner.jpeg');
    background-size: cover;
    background-position: center top;
}
.hh5l{
position: absolute;
margin-left: 270px; 
margin-bottom:10px; 
margin-top: 10px;
  
}

.hh5{
    position: absolute;
    margin-left: 250px; 
    margin-top: -25px; 
   
      
    } 

.testlinha{
    text-align: center;
    margin-top: 15px;
}

.body-1{
    background-color: rgb(13, 13, 178);
}
.nav-1{
    background-color: rgb(244, 156, 14);
}
.tamanho-total{
    margin-left: 180px;
    margin-top: 15px;
}
.centralizar{
    margin-left: 600px;
    width: 300px;
}
.ident{
    color: #FFFDEA;
    margin-left: 80px;
}

#botao-aj{
    margin-left: 350px;
    margin-bottom: 30px;
}
.zona1{
    margin-top: 10px;
}
.logo-site {
    margin-top: 35px;
}

.bloco-titulo {
    margin-right: 116px;
}

.texto-titulo {
    text-align: start;
    width: 360px;
    height: 64px;
    margin-top: 35px;
    font-family: var(--cera-bold);
    font-size: 26px;
    font-weight: 700;
    line-height: normal;
}

.texto-eleicoes {
    width: 360px;
    height: 68px;
    text-align: start;
    font-size: 48px;
    font-family: var(--cera-black);
}

.texto-data {
    width: 360px;
    height: 25px;
    padding-right: 10px;
    text-align: end;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    font-family: var(--cera-bold);
}

.texto-hora {
    width: 360px;
    height: 25px;
    padding-right: 10px;
    text-align: end;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    font-family: var(--cera-bold);
}

/*CONTEÚDO*/
.txt_inicial {
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

select.select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 451px;
    height: 46px;
    background: url(../images/seta.png) no-repeat center right var(--amarelo-claro, #FFFDEA);
    background-position: 98%;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-size: 15px;
    margin: 0 auto;
}

select.select.zona {
    margin-top: 27px;
}

select.select.secao {
    margin-top: 32px;
}


input.input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 451px;
    height: 46px;
    background: url(../images/seta.png) no-repeat center right var(--amarelo-claro, #FFFDEA);
    background-position: 98%;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-size: 15px;
    margin: 0 auto;
}

input.input.nome {
    margin-top: 27px;
}

input.input.tel {
    margin-top: 32px;
}

button.btn-cor {
    background-color: var(--orange, #fd7e14);
    color: #f7f6f3;
    width: 267px;
    padding: 12px 16px;
    border-radius: 100px;
    font-size: 16px;
    font-weight: 400;
    margin-top: 32px;
}

button.btn-cor:hover {
    background-color: var(--orange-claro, #ef9851);
    
}

.resultado {
    margin-top: 32px;
    width: 610px;
    height: 155px;
    background-color: var(--amarelo-claro, #FFFDEA)
}

.local-votacao {
    padding: 0 10px 0 16px;
    min-height: 155px;
}

a .bg_resultado {
    background: url(../images/mapa.png);
    background-repeat: no-repeat;
    min-height: 155px;
    width: 100%;
}

a .bg_resultado img {
    margin: 28px 70px 0 70px;
}

a .bg_resultado p{
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    font-family: var(--cera-bold);
}

.social {
    margin-top: 32px;
    width: 610px;
}
.bloco-loja{
    width: 220px!important;
}
.img-loja {
    width: 87px;
    height: 33px;
}

/*RODAPÉ*/
#footer {
    bottom: 0 !important;
}

img.logo-secretaria {
    width: 210px;
    height: 50px;
    margin-bottom: 38px;
    margin-top: 69px;
}

.barra-primary {
    height: 6px;
    background-color: var(--red, #f80707);
}

.barra-secondary {
    height: 6px;
    background-color: var(--brand-primary, #071270);
}
@media (max-width: 1024px) {
    .imagem-header {
        height:330px;
        background-image: url('../img/banner.jpeg');
    }
    .hh5l{
        position: absolute;
        margin-left: 270px; 
        margin-top: 10px; 
        margin-bottom: 10px;
          
        } 
        .hh5{
            position: absolute;
            margin-left: 250px; 
            margin-top: -25px;
             
           
              
            } 

        #botao-aj{
            margin-left: 350px;
            margin-bottom: 30px;
        }

    .logo-site {
        width: 120px;
        height: auto;
    }

    .texto-titulo {
        text-align: center;
        width: calc(360px - 30px) ;
        height: 64px;
        margin: 0 auto;
        font-size: 20px;
        padding: 5px 0;

    }

    .texto-eleicoes {
        width: 100%;
        font-weight: 900;
        text-align: center;
        font-size: 36px;
    }

    .texto-data,
    .texto-hora {
        width: 100%;
        text-align: center;
        font-size: 14px;
        padding-right: 0;
    }
    .resultado {
        width: calc(100% - 30px) ;
        height: auto;
    }
    .social {
        width: calc(100% - 30px) ;
    }
    .bloco-loja{
        width: 100%!important;
    }
    img.logo-secretaria {
        margin-top: 38px;
    }
}

@media (max-width: 760px) {
    .imagem-header {
        height:450px;
        background-image: url('../img/banner.jpeg');
    }
    .tamanho-total{
        margin-left: 200px;
        margin-top: 15px;
    }
    .centralizar{
        margin-left: 120px;
        width: 200px;
    }
    .ident{
        color: #FFFDEA;
        margin-left: 100px;
    }

    .logo-site {
        width: 120px;
        height: auto;
    }

    .texto-titulo {
        text-align: center;
        width: calc(360px - 30px) ;
        height: 64px;
        margin: 0 auto;
        font-size: 20px;
        padding: 5px 0;

    }

    .texto-eleicoes {
        width: 100%;
        font-weight: 900;
        text-align: center;
        font-size: 36px;
    }

    .texto-data,
    .texto-hora {
        width: 100%;
        text-align: center;
        font-size: 14px;
        padding-right: 0;
    }
    .resultado {
        width: calc(100% - 30px) ;
        height: auto;
    }
    .social {
        width: calc(100% - 30px) ;
    }
    .bloco-loja{
        width: 100%!important;
    }
    img.logo-secretaria {
        margin-top: 38px;
    }
}



@media (max-width: 769px) {
    .imagem-header {
        height:600px;
        background-image: url('../img/pricila.jpg');
    }
    .hh5l{
        position: absolute;
        margin-left: 160px; 
        margin-top: 10px; 
        margin-bottom: 10px;
          
        } 
        .hh5{
            position: absolute;
            margin-left: 140px; 
            margin-top: -25px; 
           
              
            } 
        #botao-aj{
            margin-left: 230px;
            margin-bottom: 30px;
        }

        .tamanho-total{
            margin-left: 140px;
            margin-top: 15px;
        }
        .centralizar{
            margin-left: 110px;
            width: 200px;
        }
        .ident{
            color: #FFFDEA;
            margin-left: 80px;
        }
        

    .logo-site {
        width: 120px;
        height: auto;
    }

    .texto-titulo {
        text-align: center;
        width: calc(360px - 30px) ;
        height: 64px;
        margin: 0 auto;
        font-size: 20px;
        padding: 5px 0;

    }

    .texto-eleicoes {
        width: 100%;
        font-weight: 900;
        text-align: center;
        font-size: 36px;
    }

    .texto-data,
    .texto-hora {
        width: 100%;
        text-align: center;
        font-size: 14px;
        padding-right: 0;
    }
    .resultado {
        width: calc(100% - 30px) ;
        height: auto;
    }
    .social {
        width: calc(100% - 30px) ;
    }
    .bloco-loja{
        width: 100%!important;
    }
    img.logo-secretaria {
        margin-top: 38px;
    }
}
@media (max-width: 426px) {
    .imagem-header {
        height:600px;
        background-image: url('../img/pricila.jpg');
    }
    .hh5l{
        margin-left: -250px; 
        margin-top: 50px; 
          
        } 
        .hh5{
            position: absolute;
            margin-left: 30px; 
            margin-top: -25px; 
           
              
            }  
        
        
.testlinha{
   margin-left: 45px;
}
        

        .tamanho-total{
            margin-left: 130px;
            margin-top: 15px;
        }
        .centralizar{
            margin-left: 90px;
            width: 200px;
        }
        .ident{
            color: #FFFDEA;
            margin-left: 90px;
        }

    select.select {
        width: calc(360px - 48px) ;
    }
.hh5l{  
            position: absolute;
            margin-left: 60px; 
            margin-top: 10px; 
             margin-bottom: 10px; 
            }  
    input.input {
        width: calc(360px - 48px) ;
    }
    #botao-aj{
        margin-left: 80px;
        margin-bottom: 30px;
    }

    .txt_inicial{
        width: calc(360px - 30px) ;
    }
    .resultado {
        width: calc(100% - 30px) ;
        height: auto;
    }
    .social {
        width: calc(100% - 30px) ;
    } 
    
}

@media (max-width: 376px) {
    .tamanho-total{
        margin-left: 110px;
        margin-top: 15px;
    }
    .testlinha{
        margin-left: 20px;
     }
    .centralizar{
        margin-left: 60px;
        width: 200px;
    }
    .ident{
        color: #FFFDEA;
        margin-left: 60px;
    }
    .hh5l{
        position: absolute;
        margin-left: 80px; 
        margin-top: 5px; 
        margin-bottom: 10px;
          
        } 
        .hh5{
        position: absolute;
        margin-left: 10px; 
        margin-top: -25px; 
       
          
        }  
        
input.input {
    width: calc(260px - 48px) ;
}
#botao-aj{
    margin-left: 60px;
    margin-bottom: 30px;
}
}
@media (max-width: 321px) {
    .tamanho-total{
        margin-left: 80px;
        margin-top: 15px;
    }
    .testlinha{
        margin-left: 5px;
     }
    .centralizar{
        margin-left: 40px;
        width: 200px;
    }
    .ident{
        color: #FFFDEA;
        margin-left: 40px;
    }
    .hh5l{
        position: absolute;
        margin-left: 50px; 
        margin-top: 5px; 
        margin-bottom: 10px;
          
        }  
        #botao-aj{
            margin-left: 30px;
            margin-bottom: 30px;
        }
        select.select {
            width: calc(300px - 48px);
            
        }
       
}